<p>Hi <%= @client.name %>,</p>

<p><%= @user.name %> has joined Bundle.

<p>You can place orders with <%= @user.name %>, manage inventory and do much more on Bundle.</p>

<p>Login to your account here:</p>

<p><%= link_to 'Login', new_user_session_url %></p>

<p>We’re glad to answer any questions you have.</p>

<p>The Bundle Team</p>
