/*
 *= require_tree ./landing_revamp
 *= require_self
 *= require ./handsontable.full
 *= require global/signin
*/

body {
  margin-top:80px;
}

@media screen and (max-width: 768px) {
  body {
    margin-top:120px;
  }
}

.card {
	background: #fff;
	border-radius: 2px;
	margin: 1rem;
	border-color: black;
	padding-left: 10px;
	box-shadow: 1px 3px 6px rgba(0,0,0,0.16), 1px 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
	box-shadow: 2px 6px 12px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main-land {
	margin-top: 165px;
}

.flex-parent-1 {
  flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
  -webkit-flex-direction: column;
	width: 80%;
	margin: auto;
	padding: 30px 25px;
	border: 1px solid #ccc;
}

.flex-parent-2 {
	display: flex;
	justify-content: center;
	align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-child-1 {
  color: #777;
}

@media screen and (max-width: 750px) {
	.flex-parent-2 {
		width: 98%;
		padding: 50px 15px;
    -webkit-flex-direction: column;
    flex-direction: column;
	}
}
@media screen and (max-width: 750px) {
	.flex-parent-2 {
		width: 95%;
		padding: 50px 15px;
	}
}

.flex-child-2 {
	width: calc(50% - 40px);
	margin: 0 20px;
	align-self: center;
}

.requestSheet {
  height: 420px; 
  overflow: hidden; 
  width: 540px;
}

.landing-category-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}
.landing-category-child {
	display: flex;
	width: 32.04px;
  margin: 10px 60px;
  position: relative;
}
@media screen and (max-width: 1280px){
  .landing-category-child {
  	margin: 10px 50px !important;
  }	
}
.landing-category-text {
	top: 125px;
	left: -20px;
	width: 100px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	color: #428bca;
}
@media screen and (max-width: 750px) {
	.flex-child-2 {
		width: calc(100% - 10px);
		margin: 0 5px;
		align-self: center;
	}
  .requestSheet {
    height: 200px;
    width: 100%;
  }
  .flex-child-2:last-child {
    margin-top:20px;
  }
}

.profile-image {
  border: 2px solid #edf0f0;
  height: 36px;
  width: 36px;
  float: left;
  margin-top: 5px;
}

.prof-mt{
  margin-top: -12px;
}
.icon_flex{
	display: flex !important;
	align-items: center;
}

.profile-username{
  overflow: auto;
  color: #333;	
  font-family: Lato;	
  font-size: 16px;
}

 .block {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px
}


.item-man:hover{
.text-category{
  opacity: 1;
}
}

 .item-man:hover:after {
    opacity: 1;
}

 .item-man:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;

}

 .item-man { /* Masonry bricks or child elements */
     display: inline-block;
     width: 100%;
     position: relative;
 }

 .item-man {
     display: inline-block;
     width: 100%;
 	-webkit-transition:1s ease all;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-shadow: 2px 2px 4px 0 #ccc;
 }
 .item-man .img{max-width:100%;}

 .decorate_none{
   background: none !important;
 }
 .decorate_none:hover{
   color: inherit !important;
 }
 .decorate_none{
   text-decoration: none !important;
 }
 
.cat-title {
  text-transform: uppercase;
  letter-spacing: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 83px auto;
}
.pd-100{
	padding: 10px;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  width:100%;
}

.pagination li {
  list-style:none;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #428bca;
  border-color: #428bca;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#428bca;
	color:#fff;
}

.landing-notice {
  margin-top:80px;
  margin-left:100px;
  margin-right:100px;
}

@media screen and (max-width: 768px) {
  .landing-notice {
    margin-top:120px;
    margin-left:10px;
    margin-right:10px;
  }
  .supplier-details{
    margin-top: 2px !important;
    margin-right: 120px !important;
  }
}

/*Admin navbar*/
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}

#sidebar {
    padding:15px;
    margin-top:10px;
}
.navbar-inverse .navbar-nav>.open>a{
	background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: transparent;
}