<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% if User.find_by(email: @resource.email).provider.present? %>
	<%= link_to "Change my password", "https://orderbundle.com/users/password/edit?reset_password_token=#{@token}" %>
<% elsif User.find_by(email: @resource.email).supplier.present? %>
	<%= link_to "Change my password", "https://#{User.find_by(email: @resource.email).supplier.slug}.orderbundle.com/users/password/edit?reset_password_token=#{@token}" %>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
